/*==================================================
    ONE PAGE ANIMATIONS
===================================================*/

/*=================================================
    NAV ANIMATIONS
===================================================*/

.nav {
    color: #f00;
    font: bold;
    text-align: center;
    display: inline;
    margin: 0% auto;
    padding: 0;
    list-style: none;
    text-decoration: none;    
}

.nav li {
    color: darkgreen;
    background-color: skyblue;
    display: inline-block;
    margin: 0% auto;
    position: relative;
    padding: 15px 4%;
    border: 2px solid midnightblue;
    box-shadow: 2px 2px 10px 0 rgba (0,0,0,0.5);
    border-radius: 6px;
    /* background-color: #052134; */
    cursor: pointer;
    transition-property: background;
    transition-duration: .4s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

.nav li:hover {
    color: skyblue;
    background-color: darkgreen;
    border: 2px solid cornsilk;
}

